<a  {{action 'onFilter' '1'}}
    id="1" 
    class="control-filter filter-1" style="cursor: pointer;"
>
    Filter 1
</a>

<a  {{action 'onFilter' '2'}}
    id="2"
    class="control-filter filter-2" style="cursor: pointer;"
>
    Filter 2
</a>

<a  {{action 'onFilter' '3'}}
    id="3"
    class="control-filter filter-3" style="cursor: pointer;"
>
    Filter 3
</a>

<a  {{action 'clearFilter'}}
    id="clear"
    class="control-filter clear-filter" style="cursor: pointer;"
>
    Clear filters	
</a>
