<div class="container-fluid main-container">
	<div class="row main-row">
		<div class="col-md-12 main-column">
			{{calendar-controls action="onNavClick"}}
			<div class="row">
				{{outlet}}
			</div>
			<!-- <div class="row">
				
			</div> -->
		</div>
	</div>
</div>
